.buttons {
  display: flex;
  flex-wrap: wrap;
}

.button {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  flex-shrink: 1;
  font-size: 1.25em;
  font-weight: $font-bold;
  font-family: $font-secondary;
  letter-spacing: 0.5px;
  transition: background-color 0.2s ease, color 0.2s ease,
    border-color 0.2s ease, transform 0.2s ease;

  &--primary {
    color: $clr-primary;
    // background-color: $clr-primary;
    border: 3px solid $clr-primary;
    // z-index: 10;
    padding: 1.4em 2.8em;

    @include desktop {
      &:hover {
        background-color: $clr-primary;
        color: $clr-black;
        transform: rotate(-2deg);
      }
    }

    &-black {
      background-color: $clr-primary;
      color: $clr-black;
      border-color: $clr-primary;

      @include desktop {
        &:hover {
          background-color: $clr-black;
          border-color: $clr-black;
          color: $clr-white;
        }
      }
    }
  }

  &--secondary {
    padding: 1.8rem 0;

    &::after {
      content: "";
      display: block;
      position: absolute;
      background-color: $clr-primary;
      height: 3px;
      width: 100%;
      bottom: 0;
      transition: transform 0.2s ease;
      pointer-events: none;
    }

    @include desktop {
      &:hover::after {
        transform: translateY(-1rem) rotate(-2deg) scaleX(0.8);
      }
    }
  }

  &--small {
    font-size: 0.9em;
  }
}
