.hero {
  padding: $page-padding;
  height: 100vh;
  min-height: 480px;
  display: flex;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__buttons {
    justify-content: center;
  }

  @include small-mobile {
    background-image: linear-gradient(
        to top,
        rgba($clr-black, 0.9),
        rgba($clr-black, 0.9)
      ),
      url(../../../assets/images/stta.png);
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: 50% 60%;
  }

  &__heading {
    font-size: 3.6rem;
  }
}
