body {
  background-color: $clr-black;
  overflow-x: hidden;
}

main {
  // scroll-snap-type: y mandatory;
}

img {
  height: auto;
  width: 100%;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

// * {
//   outline: 1px solid red;
// }

hr {
  margin: 2.4rem 0;
  color: $clr-alfaPrimary;
  width: 80%;
}

::-moz-selection {
  /* Code for Firefox */
  color: $clr-white;
  background: $clr-black;
}

::selection {
  color: $clr-black;
  background: $clr-primary;
}

*:focus {
  outline: 2px solid rgba($clr-primary, 0.5);
  box-shadow: 0 2px 4px 2px rgba(255, 174, 61, 0.3);
}

.link {
  display: inline-block;
  position: relative;
  font-weight: normal;

  &::before {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: $clr-primary;
    position: absolute;
    bottom: -10px;
    transition: transform 0.2s ease;
  }

  &--small {
    &::before {
      height: 2px;
      bottom: -10px;
    }

    @include desktop {
      &:hover::before {
        transform: translateY(-0.2rem) rotate(-2deg) scaleX(0.8);
      }
    }

    @include desktop {
      &:hover::before {
        transform: translateY(-0.4rem) rotate(-2deg) scaleX(0.8);
      }
    }
  }
}
