html {
  font-size: 62.5%;
}

body {
  background-color: $clr-black;
  color: $clr-primary;
  font-family: $font-text;
}

span,
p {
  font-size: 1.6rem;
  line-height: 1.333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}
