html {
  font-size: 62.5%;
}

body {
  background-color: $clr-black;
  color: $clr-primary;
  font-family: $font-text;
}

span,
p {
  font-size: 1.6rem;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
}

.subtitle {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-indent: -1px;
  display: inline-block;
  padding: 0.5rem 1.3rem;
  background-color: $clr-alfaPrimary;

  @include small-mobile {
    font-size: 1.333rem;
  }
}


