html {
  font-size: 62.5%;

  @include tablet {
    font-size: 75%;
  }

  @include desktop {
    font-size: 87.5%;
  }
}

body {
  background-color: $clr-black;
  color: $clr-primary;
  font-family: $font-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // @include small-mobile {
  //   text-align: center;
  // }
}

span,
p {
  font-size: 1.6rem;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.1rem;
}

.subtitle {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-indent: -1px;
  display: inline-block;
  padding: 0.5rem 1.3rem;
  background-color: $clr-alfaPrimary;

  @include small-mobile {
    font-size: 1.125rem;
  }

  @include touch-only {
    font-size: 1.333rem;
  }

  @include desktop {
    font-size: 1.2rem;
  }
}
