// ### COLORS ###

$clr-white: #fff;
$clr-primary: #ffae3d;
$clr-alfaPrimary: rgba(255, 174, 61, 0.3);
$clr-black: #24231c;
$clr-grey: #3a3831;

// ### Fonts ###

$font-primary: "Ubuntu", sans-serif;
$font-secondary: "Roboto", sans-serif;
$font-text: "Roboto Condensed", sans-serif;

$font-bold: bold;
