// ### COLORS ###

$clr-white: #fff;
$clr-primary: #ffae3d;
$clr-alfaPrimary: rgba(255, 174, 61, 0.2);
$clr-black: #24231c;
$clr-grey: #3a3831;
$clr-darkGrey: #29271e;

// ### Fonts ###

$font-primary: "Ubuntu", sans-serif;
$font-secondary: "Roboto", sans-serif;
$font-text: "Roboto Condensed", sans-serif;

$font-bold: bold;

$small-page-padding: 7.2rem 2.1rem;
$wide-page-padding: 15rem 0;

// RESPONSIVE MIXINS

$xs-phone: 0;
$phone: 480px;
$desktop-menu: 600px;
$tablet: 768px;
$desktop: 1024px;
$widescreen: 1440px;
$fullhd: 1600px;
